---
import Layout from "../layouts/Layout.astro";
import Explanation from "../components/Explanation.astro";
---

<Layout>
  <Explanation>
    <div slot="text">hey</div>
    <div slot="demo">demo</div>
  </Explanation>
</Layout>
