---
import Layout from "../layouts/Layout.astro";
import Explanation from "../components/Explanation.astro";
---

<Layout>
  <Explanation>
    <section slot="text">
      <div>
        <p class="font-semibold text-gray-800">
          Why was the COVID-19 vaccine an mRNA vaccine?
        </p>

        <div class="mt-4 w-16 h-px bg-gray-200"></div>
      </div>
      <div class="mt-4 text-gray-600 leading-relaxed space-y-4">
        <p>Usually, vaccines contain a weakend version of the live virus.</p>
        <p>However, with COVID-19 this wasn’t possible for two reasons:</p>
        <ol class="list-decimal ml-6 space-y-1">
          <li>
            Even a weakened version of the virus could still have harmed
            immunocompromised people.
          </li>
          <li>
            The virus was mutating quickly, and there was a chance that the
            virus you were vaccinated with would be significantly different than
            the virus you’d later be exposed to.
          </li>
        </ol>
        <p>
          Instead, the COVID-19 mRNA vaccine delivered the genetic information
          of the (fairly stable) spike proteins on the virus.
        </p>
        <p>
          This genetic information provokes the body into an immune response,
          readying it for future exposure to the virus.
        </p>
      </div>
    </section>

    <section slot="demo" x-data="{ selected: 1 }" x-cloak>
      <div class="mt-2 grid justify-items-end gap-y-4">
        <div
          class="grid grid-cols-[repeat(7,max-content)] items-center gap-x-2 sm:gap-x-3"
        >
          <p class="text-right text-sm font-medium text-gray-400 mr-2">
            virus in<br />vaccine
          </p>
          {
            new Array(6).fill(null).map(() => (
              <div
                class="rounded-full overflow-hidden border-2 border-dashed transition-all"
                x-bind:class="{ 'border-transparent': selected === 1, 'border-red-600': selected === 2 }"
              >
                <div class="h-9 w-9 md:h-12 md:w-12 bg-gradient-to-br from-amber-500 to-red-500" />
              </div>
            ))
          }
        </div>
        <div
          class="grid grid-cols-[repeat(7,max-content)] items-center gap-x-2 sm:gap-x-3"
        >
          <p class="text-right text-sm font-medium text-gray-400 mr-2">
            virus in<br />world
          </p>
          {
            [
              ["from-amber-500", "to-red-500"],
              ["from-amber-500", "to-pink-500"],
              ["from-orange-500", "to-fuchsia-500"],
              ["from-rose-500", "to-indigo-400"],
              ["from-rose-400", "to-blue-500"],
              ["from-fuchsia-400", "to-blue-500"],
            ].map(([from, to]) => (
              <div
                class="rounded-full overflow-hidden border-2 border-dashed transition-all"
                x-bind:class="{ 'border-transparent': selected === 1, 'border-red-600': selected === 2 }"
              >
                <div
                  class:list={[
                    "h-9 w-9 md:h-12 md:w-12 bg-gradient-to-br",
                    from,
                    to,
                  ]}
                />
              </div>
            ))
          }
        </div>
      </div>
      <p class="mt-3 ml-24 italic text-gray-400/70 font-medium text-sm">
        virus mutates over time &rarr;
      </p>
      <p
        class="italic text-gray-400/70 font-medium text-sm text-right mr-[1.125rem]"
      >
        <span x-show="selected === 1">viruses don’t match anymore &uarr;</span>
        <span x-show="selected === 2">spike proteins still similar &uarr;</span>
      </p>

      <div class="mt-12 flex items-center justify-between">
        <div
          class="flex items-center gap-2 transition-opacity"
          x-bind:class="{ 'opacity-0': selected !== 2 }"
        >
          <div
            class="h-10 w-10 rounded-full border-2 border-dashed border-red-600"
          >
          </div>
          <p class="italic text-gray-400/70 font-medium text-sm">
            = spike proteins
          </p>
        </div>

        <div
          class="bg-gray-200 shadow-inner max-w-max flex items-center p-1.5 rounded-2xl"
        >
          <button
            class="px-3 py-1 rounded-xl transition-colors font-medium text-sm"
            x-bind:class="{ 'bg-white shadow-sm text-gray-800': selected === 1, 'text-gray-500': selected !== 1 }"
            x-on:click="selected = 1"
          >
            Live Vaccine
          </button>
          <button
            class="px-3 py-1 rounded-xl transition-colors font-medium text-sm"
            x-bind:class="{ 'bg-white shadow-sm text-gray-800': selected === 2, 'text-gray-500': selected !== 2 }"
            x-on:click="selected = 2"
          >
            mRNA Vaccine
          </button>
        </div>
      </div>
    </section>
  </Explanation>
</Layout>
