---
import Layout from "../layouts/Layout.astro";
import Explanation from "../components/Explanation.astro";
---

<Layout>
  <Explanation>
    <div slot="text">
      <div>
        <p class="font-semibold text-gray-800">
          Why was the COVID-19 vaccine an mRNA vaccine?
        </p>

        <div class="mt-4 w-16 h-px bg-gray-200"></div>
      </div>
      <div class="mt-4 text-gray-600 leading-relaxed space-y-4">
        <p>Usually, vaccines contain a weakend version of the live virus.</p>
        <p>However, with COVID-19 this wasn’t possible for two reasons:</p>
        <ol class="list-decimal ml-6 space-y-1">
          <li>
            Even a weakened version of the virus could still have harmed
            immunocompromised people.
          </li>
          <li>
            The virus was mutating quickly, and there was a chance that the
            virus you were vaccinated with would be significantly different than
            the virus you’d later be exposed to.
          </li>
        </ol>
        <p>
          Instead, the COVID-19 mRNA vaccine delivered the genetic information
          of the (fairly stable) spike proteins on the virus.
        </p>
        <p>
          This genetic information provokes the body into an immune response,
          readying it for future exposure to the virus.
        </p>
      </div>
    </div>

    <div slot="demo">
      <div class="mt-2 grid justify-items-end gap-y-4">
        <div
          class="grid grid-cols-[repeat(7,max-content)] items-center gap-x-3"
        >
          <p class="text-right text-sm font-medium text-gray-400 mr-2">
            virus in<br />vaccine
          </p>
          {
            new Array(6)
              .fill(null)
              .map(() => (
                <div class="h-12 w-12 rounded-full bg-gradient-to-br from-amber-500 to-red-500" />
              ))
          }
        </div>
        <div
          class="grid grid-cols-[repeat(7,max-content)] items-center gap-x-3"
        >
          <p class="text-right text-sm font-medium text-gray-400 mr-2">
            virus in<br />world
          </p>
          <div
            class="h-12 w-12 rounded-full bg-gradient-to-br from-amber-500 to-red-500"
          >
          </div>
          <div
            class="h-12 w-12 rounded-full bg-gradient-to-br from-amber-500 to-pink-500"
          >
          </div>
          <div
            class="h-12 w-12 rounded-full bg-gradient-to-br from-orange-500 to-fuchsia-500"
          >
          </div>
          <div
            class="h-12 w-12 rounded-full bg-gradient-to-br from-rose-500 to-indigo-400"
          >
          </div>
          <div
            class="h-12 w-12 rounded-full bg-gradient-to-br from-rose-400 to-blue-500"
          >
          </div>
          <div
            class="h-12 w-12 rounded-full bg-gradient-to-br from-fuchsia-400 to-blue-500"
          >
          </div>
        </div>
      </div>
      <p
        class="mt-2 italic text-gray-300 font-medium text-sm text-right mr-[1.125rem]"
      >
        <span class="mr-16">virus mutates over time &rarr;</span>
        <span>no longer a match &uarr;</span>
      </p>
    </div>
  </Explanation>
</Layout>
