<div
  class="min-h-screen p-4 grid grid-cols-2 h-full items-center max-w-screen-md mx-auto"
>
  <div>
    <slot name="text" />
  </div>
  <div class="justify-self-end">
    <slot name="demo" />
  </div>
</div>
