<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://emojicdn.elk.sh/ðŸª" />
    <title>Big Bang to Humankind</title>
  </head>
  <body class="antialised text-gray-700 p-4">
    <slot />
  </body>
</html>
